.tac-- {
  text-align: center;
}

.el-menu-item a{
  display: block;
}

.main--container {
  padding: 60px;
}
.login--container {
  margin: 0 auto;
  width: 520px;
}

.kline--container {
  height: 600px;
  width: 100%;
}

.home--container {
  margin: 0 auto;
  width: 1000px;
}
